* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #0f172a;
    color: #e5e7eb;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background: #020617;
}

.logo {
    color: #38bdf8;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #e5e7eb;
    text-decoration: none;
}

/* Hero */
.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero span {
    color: #38bdf8;
}

.hero button {
    margin-top: 20px;
    padding: 10px 25px;
    background: #38bdf8;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

/* Sections */
section {
    padding: 60px 40px;
}

.about, .projects, .contact {
    background: #020617;
    margin-top: 20px;
}

/* Projects */
.project-cards {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: #0f172a;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #020617;
}
